service: slack-irasutoya

provider:
  name: aws
  runtime: nodejs8.10
  stage: prod
  region: ap-northeast-1

functions:
  app:
    handler: index.handler
    events:
      - http: ANY /
      - http: "ANY {proxy+}"

plugins:
  - serverless-offline